h1 {
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.card-title{
    justify-content: center;
}

.card {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(123, 123, 124, 0.966);
    text-align: center;
}


.image-preview {
    width: 500px;
    max-height: 500px;
    text-align: center;

}


.spinner {
   display: inline-flex;
}



input[type="file"] {
    display: none;
}